<div class="login-container">
    <app-login></app-login>
</div>
<div class="container" style="max-width: 550px">
    <a href="https://accounts.google.com/o/oauth2/v2/auth?redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Flogin&prompt=consent&response_type=code&client_id=378632310994-f8rq01h518hplbi8d4tevioi6qc2v4bp.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile+openid&access_type=offline">Click</a>
  </div>